[submodule "libraries/GSM-GPRS-GPS-Shield"]
	path = libraries/GSM-GPRS-GPS-Shield
	url = https://github.com/MarcoMartines/GSM-GPRS-GPS-Shield.git
[submodule "libraries/RgbLib"]
	path = libraries/RgbLib
	url = https://github.com/mbaago/RgbLib.git
